body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  header {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    h1 {
      color: #333;
    }
  }

  .operator-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    section {
      flex: 1 1 200px; // Or adjust 200px to a smaller value or percentage
      min-width: 30em;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 10px;
      h2 {
        color: #666;
      }
      p {
        color: #333;
      }
      button {
        background-color: #007BFF;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
