<mat-card>
  <!-- <mat-toolbar color="primary">"of" Operator </mat-toolbar>
  <mat-card-content>
    <p>
      Creates an Observable that emits the arguments (like arrays) as a
      whole. Any connected function will receive the entire data "as is".
    </p>
    <mat-divider></mat-divider>
    <b>Emitting data from an array</b>
    <p>Original Data: [{{ originalData }}]</p>
    <p>Output Data: [{{ outputDataOf }}]</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onApplyOf()">Apply "of" Operator</button>
    <button mat-button (click)="onApplyFrom()">
      Apply "from" Operator
    </button>
  </mat-card-actions> -->
</mat-card>