body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mat-drawer-container {
  height: calc(100vh - 56px); /* Adjust for height of toolbar */
}

.side-nav {
  width: 15em;
  padding: 1em;
  height: 100vh; /* Side-nav height the same as the viewport */
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.content {
  height: calc(100vh - 56px); /* Content area height adjusted for toolbar */
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}
